!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>%title%</title>
    <meta name="Keywords" content="may,misya,linux,vim,c/c++,python,algorithm" />
    <meta name="Description" content="记录我的所学所得" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <script>var root_path = '%root_path%';</script>
    <link href="%root_path%images/favicon.ico" rel="SHORTCUT ICON" type="image/x-icon" />
    <link rel="Stylesheet" type="text/css" href="%root_path%style.css" />
    <link href="http://github.com/misya/wiki.misya.me/commits/master.atom" rel="alternate" title="Misya's Wiki 的最新更改" type="application/atom+xml" />
</head>
<body>
    <div id="all">
        <div id="header">
            <ul id="top-nav">
                <li>
                    <a href="%root_path%index.html">首页</a>
                </li>
                <li>
                    <a href="%root_path%tips/">经验总结</a>
                </li>
                <li>
                    <a href="%root_path%diary/diary.html">日记</a>
                </li>
            </ul>
        </div>
        <div id="cse"></div>
        <div id="main">
            <div class="content">
                %content% <!-- 这里就是vimwiki的内容 -->
            </div>
        </div>
        <div id="footer">
            <!-- <center> -->
            Copyright @2012 <a href="http://www.misya.me">Misya</a> | Powered By <a href="https://code.google.com/p/vimwiki">VimWiki</a>, <a href="https://github.com">GitHub</a><br>"Talk is cheap. Show me the code." Linus Torvalds
            <br>
            <a href="%root_path%SiteMap.html" title="站点地图">给我一点导航吧</a></p>
            <!-- </center> -->
        </div>
    </div>
    <script src="%root_path%jquery-1.4.2.min.js" type="text/javascript"></script>
    <script src="%root_path%vimwiki.js" type="text/javascript"></script>
</body>
</html>